<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">

   <title>Portifolio</title>

   <link rel="preload" as="style" onload='onload=null;this.rel="stylesheet"' href="/fontawesome/css/all.min.css">

   <link rel="stylesheet" href="/scss_bootstrap/bootstrap.css">

   <link rel="stylesheet" href="/style.min.css">
   <link rel='icon' href='imgs/home_img.jpg'>
</head>

<body>
   <div class="bullets">
      <ul>
         <li class="a active">A</li>
         <li class="b">B</li>
         <li class="d">D</li>
         <li class="o">O</li>
      </ul>
   </div>

   <div class="home_section">
      <div class='content p-3'>
         <p> اهلا انا <span>عبد الفتاح</span> غنيم ودا</p>
         <h1><span class='name'>ABDELFATTAH</span> GHONAIM PORTIFOLIO</h1>
      </div>
      <div class="img">
         <!-- <div class='overlay'></div> -->
         <img src="./imgs/home_img-removebg-preview.png" alt="" class="background">
      </div>
   </div>
   <div class='bar'>
      <i class="fa-solid fa-bars"></i>
   </div>
   <div class="container my-5">
      <div class='sidebar align-items-center'>
         <div class="img">
            <img src="imgs/services_img.jpg" alt="">
         </div>
         <ul class="nav">
            <li class="home active">home</li>
            <li class="about">about</li>
            <li class="portfolio">Portfolio</li>
            <li class="contact">contact</li>
         </ul>
      </div>
      <div class="sections">
         <div class="about_section">
            <h1>About Me.</h1>
            <div class="content">
               <div class='cont'>
                  <p>
                     انا عبدالفتاح اسامه غنيم
                     فيديو اديتور
                     بخبره سنتين في مجال المونتاج
                     اقدم الخدمه بأفضل جوده و في وقت مناسب
                     <b>الجوده ثم احترام مواعيد التسليم</b>
                  </p>
                  <div class="skills row">
                     <div class=" col bor-r">
                        <h2>50+</h1>
                           <p>عميل</p>
                     </div>
                     <div class="col">
                        <h2>90%+</h1>
                           <p>الرضي عن الخدمة</p>
                     </div>
                     <div class="w-100 bor-t"></div>
                     <div class=" col bor-r">
                        <h2>90%+</h1>
                           <p>الرضي عن الاسعار</p>
                     </div>
                     <div class=" col">
                        <h2>100%</h1>
                           <p>سرعة الرد وسلاسة التعامل</p>
                     </div>
                  </div>
               </div>
               <div class='img'>
                  <img src="imgs/about_img.jpg" alt="">
               </div>
            </div>
         </div>
         <div class='portfolio_section'>
            <h1>Portfolio</h1>
            <div class="video">
               <video src="videos/music.mp4" controls></video>
            </div>
         </div>
      </div>
   </div>

</body>

<!-- <script src="bootstrap.bundle.min.js"></script> -->
<!-- <script src="fontawesome/js/all.min.js"></script> -->
<script src="jquery-3.7.1.min.js"></script>
<script src="main.js"></script>

</html>